.wrapper {
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    border: 1px solid gray;
}

.counter {
    width: 20%;
    height: 100%;
    border-style: none;
}

.counter:active {
    background: #e5e5e5;
    outline: none;
}

.input {
    width: 60%;
    height: 100%;
    text-align: center;
    border-style: none;
    box-sizing: border-box;
    outline: none;
}    