.item {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    margin-bottom: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: '100%';
}

.content {
    flex-grow: 1;
    overflow: auto;
}

.addButton {
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    /* border-radius: 0.5rem; */
    cursor: pointer;
}

.addButton:active {
    background-color: var(--active-color);
    /* transform: scale(0.95); */
}