.wrapper {
    min-width: 150px;
    max-width: 300px;
    color: var(--text-color);
    background-color: var(--background-color);
    border-color: var(--border-color);
}

.image {
    max-width: 100%;
}

.title {
    text-align: left;
    text-indent: 5%;
}